/* getTransaction.css */

.main-container {
    display: flex;
  }
  
  .content-container {
    flex-grow: 1;
    padding: 20px;
  }
  
  .transaction-card {
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  7px 7px 9px #b3b3b3,
                 -7px -7px 9px #ffffff;
  }
  
  /* Media query for responsive layout */
  @media screen and (min-width: 768px) {
    .main-container {
      flex-direction: row-reverse; /* Reverse the order when sidebar is open */
    }
  
    .content-container {
      flex-grow: 1;
      margin-left: 250px; /* Adjust according to the sidebar width */
    }
  
    .transaction-card {
      margin-top: 0; /* Remove top margin when sidebar is open */
    }
  }
  